<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<!-- Generated through https://www.bootstrap-live-customizer.com/ .
     First selecting the Cosmo theme, and changing the grid to
     have 24 columns instead of 12 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Last image</h1>
        <img src="{{ data.lastImage }}"></img>

        <h1>Today</h1>
        <video controls>
            <source src="{{ data.videosPerDay[-1] }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <h1>Yesterday</h1>
        <video controls>
            <source src="{{ data.videosPerDay[-2] }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </body>
</html>
